

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" color="danger">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Meus Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="inscricoes-abertas" color="success" >
      <ion-icon name="add-circle-outline"  ></ion-icon>
      <ion-label>Inscrições Abertas</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="check" color="success" >
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Check-In</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meus-dados">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Meus dados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>