<!-- <div class="container">

  <div class="row" style="background-color: blue; color: white; text-align: center; padding: 50px;">
    <div style="font-size: 50px" class="col-12 col-md-12">
      <b>{{secaoAtual}}</b>
    </div>
  </div>

  <div class="row" style="text-align: center; padding-top: 400px;">
    <div style="font-size: 350px; font-family: Arial, Helvetica, sans-serif; " class="col-12 col-md-12">
     <b>{{minuto.toLocaleString('pt-BR', { minimumIntegerDigits: 2 })}} : {{segundo.toLocaleString('pt-BR', { minimumIntegerDigits: 2 })}}</b> 
    </div>
  </div>

</div> -->

<mat-grid-list cols="1"  rowHeight="100px"  >
  <mat-grid-tile style="background-color: blue;color: white;" [rowspan]="1" >
    <b id="titulo">{{secaoAtual}}</b>
  </mat-grid-tile>
  <mat-grid-tile  [rowspan]="6" >
    <div id="horario">
      <b>{{minuto.toLocaleString('pt-BR', { minimumIntegerDigits: 2 })}} : {{segundo.toLocaleString('pt-BR', { minimumIntegerDigits: 2 })}}</b> 
    </div>
  </mat-grid-tile>
  <mat-grid-tile  [rowspan]="1" >
    <button *ngIf="ordemAtual > 0" mat-button color="accent" (click)="previos()" >Anterior</button>
    <button mat-button color="primary" (click)="restart()" >Reiniciar</button>
    <button *ngIf="ordemAtual < (cronograma.length - 1)" mat-button color="warn" (click)="next()" >Proximo</button>
    <button mat-button  (click)="cronogramaCeia()">Culto {{ ehCultoSantaCeia ? 'Normal' : 'com Santa Ceia' }}</button>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
