<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <app-notificacao-bell></app-notificacao-bell>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Líder de PG</ion-card-subtitle>
      <ion-card-title>{{ usuario?.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ usuario?.email }}</p>
      <p>{{ usuario?.telefoneCelular }}</p>
      <ion-button expand="block" color="danger" (click)="sair()">Sair</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
