<nb-card>
  <nb-card-header>
    <h5>Pequenos Grupos</h5>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Líderes">
        <form [formGroup]="liderForm">
          <div class="row">
            <div class="col-md-4">
              <label class="label">Usuário</label>
              <nb-select fullWidth formControlName="usuarioId" placeholder="Selecione o usuário">
                <nb-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nome }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-3">
              <label class="label">Congregação</label>
              <nb-select fullWidth formControlName="congregacaoId" placeholder="Selecione">
                <nb-option [value]="null">Não informar</nb-option>
                <nb-option *ngFor="let congregacao of congregacoes" [value]="congregacao.id">{{ congregacao.nome }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-2">
              <label class="label">Início</label>
              <input nbInput fullWidth type="date" formControlName="dataInicio">
            </div>
            <div class="col-md-2">
              <label class="label">Status</label>
              <nb-select fullWidth formControlName="status">
                <nb-option value="A">Ativo</nb-option>
                <nb-option value="I">Inativo</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="label">Observação</label>
              <textarea nbInput fullWidth formControlName="observacao" rows="3"></textarea>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <button nbButton status="success" type="button" (click)="salvarLider()">Salvar líder</button>
              <button nbButton status="basic" type="button" class="ml-2" (click)="novoLider()">Novo</button>
            </div>
          </div>
        </form>

        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th>Id</th>
              <th>Usuário</th>
              <th>Congregação</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lider of lideres">
              <td>{{ lider.id }}</td>
              <td>{{ nomeUsuario(lider.usuarioId) }}</td>
              <td>{{ lider.congregacaoId ? nomeCongregacao(lider.congregacaoId) : '-' }}</td>
              <td>{{ lider.status === 'A' ? 'Ativo' : 'Inativo' }}</td>
              <td>
                <button nbButton size="tiny" status="primary" (click)="editarLider(lider)">Editar</button>
                <button nbButton size="tiny" status="danger" class="ml-2" *ngIf="lider.status === 'A'" (click)="inativarLider(lider)">Inativar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-tab>

      <nb-tab tabTitle="PGs">
        <form [formGroup]="pgForm">
          <div class="row">
            <div class="col-md-4">
              <label class="label">Nome do PG</label>
              <input nbInput fullWidth formControlName="nome" placeholder="Nome do PG">
            </div>
            <div class="col-md-3">
              <label class="label">Congregação</label>
              <nb-select fullWidth formControlName="congregacaoId">
                <nb-option *ngFor="let congregacao of congregacoes" [value]="congregacao.id">{{ congregacao.nome }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-3">
              <label class="label">Líder</label>
              <nb-select fullWidth formControlName="liderPequenoGrupoId">
                <nb-option *ngFor="let lider of lideres" [value]="lider.id">{{ nomeUsuario(lider.usuarioId) }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-2">
              <label class="label">Status</label>
              <nb-select fullWidth formControlName="status">
                <nb-option value="A">Ativo</nb-option>
                <nb-option value="I">Inativo</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <label class="label">Co-líder</label>
              <nb-select fullWidth formControlName="coLiderPequenoGrupoId">
                <nb-option [value]="null">Não informar</nb-option>
                <nb-option *ngFor="let lider of lideres" [value]="lider.id">{{ nomeUsuario(lider.usuarioId) }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-3">
              <label class="label">Dia da semana</label>
              <nb-select fullWidth formControlName="diaSemana" placeholder="Selecione">
                <nb-option value="Segunda-feira">Segunda-feira</nb-option>
                <nb-option value="Terça-feira">Terça-feira</nb-option>
                <nb-option value="Quarta-feira">Quarta-feira</nb-option>
                <nb-option value="Quinta-feira">Quinta-feira</nb-option>
                <nb-option value="Sexta-feira">Sexta-feira</nb-option>
                <nb-option value="Sábado">Sábado</nb-option>
                <nb-option value="Domingo">Domingo</nb-option>
              </nb-select>
            </div>
            <div class="col-md-2">
              <label class="label">Horário</label>
              <input nbInput fullWidth type="time" formControlName="horarioReuniao">
            </div>
            <div class="col-md-3">
              <label class="label">CEP</label>
              <input nbInput fullWidth formControlName="cep">
            </div>
            <div class="col-md-4">
              <label class="label">Endereço</label>
              <input nbInput fullWidth formControlName="endereco">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-2">
              <label class="label">Número</label>
              <input nbInput fullWidth formControlName="numero">
            </div>
            <div class="col-md-3">
              <label class="label">Complemento</label>
              <input nbInput fullWidth formControlName="complemento">
            </div>
            <div class="col-md-3">
              <label class="label">Bairro</label>
              <input nbInput fullWidth formControlName="bairro">
            </div>
            <div class="col-md-3">
              <label class="label">Cidade</label>
              <input nbInput fullWidth formControlName="cidade">
            </div>
            <div class="col-md-1">
              <label class="label">UF</label>
              <input nbInput fullWidth maxlength="2" formControlName="estado">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <button nbButton status="success" type="button" (click)="salvarPg()">Salvar PG</button>
              <button nbButton status="basic" type="button" class="ml-2" (click)="novoPg()">Novo</button>
            </div>
          </div>
        </form>

        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Congregação</th>
              <th>Líder</th>
              <th>Dia</th>
              <th>Horário</th>
              <th>Bairro</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pg of pequenosGrupos">
              <td>{{ pg.id }}</td>
              <td>{{ pg.nome }}</td>
              <td>{{ nomeCongregacao(pg.congregacaoId) }}</td>
              <td>{{ nomeLider(pg.liderPequenoGrupoId) }}</td>
              <td>{{ pg.diaSemana }}</td>
              <td>{{ pg.horarioReuniao || '-' }}</td>
              <td>{{ pg.bairro || '-' }}</td>
              <td>{{ pg.status === 'A' ? 'Ativo' : 'Inativo' }}</td>
              <td>
                <button nbButton size="tiny" status="primary" (click)="editarPg(pg)">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
