<div class="row">
  <div class="col-md-12">
    <form *ngIf="membro" [formGroup]="formulario">
      <nb-card>
        <nb-card-header><h5>{{ tituloPagina }}</h5></nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-4">
              <label class="label">PG</label>
              <nb-select fullWidth formControlName="pequenoGrupoId">
                <nb-option *ngFor="let pg of pequenosGrupos" [value]="pg.id">{{ pg.nome }}</nb-option>
              </nb-select>
            </div>
            <div class="col-sm-4"><label class="label">Nome</label><input nbInput fullWidth formControlName="nome"></div>
            <div class="col-sm-2"><label class="label">Tipo</label><nb-select fullWidth formControlName="tipo"><nb-option value="Ativo">Ativo</nb-option><nb-option value="Rotativo">Rotativo</nb-option><nb-option value="Crianca">Criança</nb-option></nb-select></div>
            <div class="col-sm-2"><label class="label">Status</label><nb-select fullWidth formControlName="status"><nb-option value="A">Ativo</nb-option><nb-option value="I">Inativo</nb-option></nb-select></div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-3"><label class="label">Telefone</label><input nbInput fullWidth formControlName="telefone"></div>
            <div class="col-sm-3"><label class="label">E-mail</label><input nbInput fullWidth formControlName="email"></div>
            <div class="col-sm-3"><label class="label">Data nascimento</label><input nbInput fullWidth type="date" formControlName="dataNascimento"></div>
            <div class="col-sm-3"><label class="label">CEP</label><input nbInput fullWidth formControlName="cep"></div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"><label class="label">Endereço</label><input nbInput fullWidth formControlName="ruaAvenida"></div>
            <div class="col-sm-2"><label class="label">Número</label><input nbInput fullWidth formControlName="numero"></div>
            <div class="col-sm-3"><label class="label">Bairro</label><input nbInput fullWidth formControlName="bairro"></div>
            <div class="col-sm-3"><label class="label">Cidade</label><input nbInput fullWidth formControlName="cidade"></div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-2"><label class="label">UF</label><input nbInput fullWidth maxlength="2" formControlName="estado"></div>
            <div class="col-sm-4"><label class="label">Complemento</label><input nbInput fullWidth formControlName="complemento"></div>
            <div class="col-sm-6"><label class="label">Observação</label><textarea nbInput fullWidth formControlName="observacao"></textarea></div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button type="button" nbButton status="success" (click)="salvar()">Salvar</button>
          <a ghost nbButton status="danger" [routerLink]="formulario.value.pequenoGrupoId ? '/pages/pequenos-grupos/membros/lista/' + formulario.value.pequenoGrupoId : '/pages/pequenos-grupos/pg/lista'" style="margin-left: 10px;">Voltar</a>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
