<div class="row">
  <div class="col-md-12">
    <form *ngIf="usuario" [formGroup]="formulario">
      <nb-card>
        <nb-card-header>
          <h5>{{tituloPagina}}</h5>
        </nb-card-header>
        <nb-card-body>
          <nb-alert *ngIf="existeErro" status="danger">Preencha os campos obrigatórios.</nb-alert>

          <div class="row">
            <div class="col-sm-4">
              <label for="nome" class="label">Nome</label>
              <input type="text" class="form-control" nbInput fullWidth id="nome" formControlName="nome">
            </div>
            <div class="col-sm-4">
              <label for="email" class="label">Email</label>
              <input type="text" class="form-control" nbInput fullWidth id="email" formControlName="email">
            </div>
            <div class="col-sm-2">
              <label for="status" class="label">Status</label>
              <nb-select fullWidth id="status" formControlName="status">
                <nb-option value="A">Ativo</nb-option>
                <nb-option value="I">Inativo</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-6">
              <label for="perfilIds" class="label">Perfis</label>
              <nb-select fullWidth multiple id="perfilIds" formControlName="perfilIds" placeholder="Selecione os perfis">
                <nb-option *ngFor="let perfil of perfis" [value]="perfil.id">{{perfil.titulo}}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="col-sm-1">
              <button (click)="salvar()" type="submit" nbButton status="success">Enviar</button>
            </div>
            <div class="col-sm-2">
              <a ghost nbButton status="danger" routerLink="/pages/usuarios-sistema/lista">Voltar</a>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
